<div class="custom-loading" *ngIf="isLoading">
  <div class="lds-facebook">
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>

<div id="shipping-page" *ngIf="cart != null">
  <div class="container">
    <div class="home-wrap">
      <div class="row">
        <div class="col-md-12 mt-3">
          <div class="card">
            <div class="card-body">
              <div class="line-step"></div>
              <ul class="step-process step-process-horizontal">
                <li class="step-one step-num">
                  <span class="number active">1</span>
                  <span class="text">Giỏ hàng</span>
                </li>
                <li class="step-two step-num">
                  <span class="number active">2</span>
                  <span class="text">Địa chỉ giao hàng</span>
                </li>
                <li class="step-three step-num">
                  <span class="number">3</span>
                  <span class="text">Thanh toán</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-12 mt-4 mb-2">
          <h2 class="my-cart">Giỏ hàng của bạn</h2>
          <div class="product-total">({{ numProduct }} sản phẩm)</div>
        </div>
        <div class="col-md-8">
          <div class="card">
            <div class="card-body">
              <form [formGroup]="formInfo">
                <div class="row">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <input type="text" class="form-control effect" autocomplete="off" formControlName="fullname" />
                          <label class="form-control-placeholder" for="lastname">Họ tên</label>
                          <span class="focus-border"></span>
                          <p class="pull-left label-error" *ngIf="formInfo.controls.fullname?.hasError('required')
                                     && formInfo.controls.fullname?.touched">
                            Vui lòng nhập dữ liệu.
                          </p>                          
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <input type="text" class="form-control effect" formControlName="phone_number" />
                          <label class="form-control-placeholder" for="phone_number">Số điện thoại</label>
                          <p class="pull-left label-error" *ngIf="formInfo.controls.phone_number?.hasError('required')
                                     && formInfo.controls.phone_number?.touched">
                            Vui lòng nhập dữ liệu.
                          </p>
                          <p class="pull-left label-error" *ngIf="formInfo.controls.phone_number?.hasError('pattern')">
                            Vui lòng nhập đúng số điện thoại.
                          </p>
                          <span class="focus-border"></span>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <input type="text" class="form-control effect" formControlName="email" />
                          <label class="form-control-placeholder" for="email">Email</label>
                          <p class="pull-left label-error" *ngIf="formInfo.controls.email?.hasError('required')
                                     && formInfo.controls.email?.touched">
                            Vui lòng nhập dữ liệu.
                          </p>
                          <p class="pull-left label-error" *ngIf="formInfo.controls.email?.hasError('email')">
                            Vui lòng nhập đúng định dạng mail.
                          </p>
                          <span class="focus-border"></span>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <input type="text" name="apartment_street_number" class="form-control effect" autocomplete="off"
                            formControlName="apartment_street_number" />
                          <label class="form-control-placeholder" for="apartment_street_number">Địa chỉ (số nhà, đường)</label>
                          <p class="pull-left label-error" *ngIf="formInfo.controls.email?.hasError('required')
                                     && formInfo.controls.email?.touched">
                            Vui lòng nhập dữ liệu.
                          </p>
                          <span class="focus-border"></span>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <select class="form-control effect province" formControlName="province">
                            <ng-container *ngFor="let province of provinces">
                              <option value="{{ province.province_id }}">{{ province.province_name }}</option>
                            </ng-container>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <select class="form-control effect district" formControlName="district">
                            <ng-container *ngFor="let district of districts">
                              <option value="{{ district.district_id }}">{{ district.district_name }}</option>
                            </ng-container>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <select class="form-control effect commune" formControlName="commune">
                            <ng-container *ngFor="let commune of communes">
                              <option value="{{ commune.id }}">{{ commune.commune_name }}</option>
                            </ng-container>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="note" class="col-form-label">Ghi chú giao hàng (không bắt buộc)</label>
                      <textarea class="form-control" rows="5" name="note" formControlName="note"></textarea>
                    </div>
                  </div>
                  <div class="col-md-12 checkbox tiny">
                    <div class="checkbox-overlay">
                      <input type="checkbox" name="invoice" formControlName="invoice" />
                      <div class="checkbox-container">
                        <div class="checkbox-checkmark"></div>
                      </div>
                      <label for="note">Yêu cầu xuất hóa đơn đỏ</label>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card info-order">
            <div class="card-body">
              <h5 class="title-custom">Thông tin đơn hàng</h5>
              <ng-container *ngFor="let product of cart">
                <div class="cart-item">
                  <div class="row">
                    <div class="col-md-2">
                      <img height="42" width="32" class="vertical" [src]="'http://103.232.120.91:1337' + product.image" alt="{{ product.product_name }}" />
                    </div>
                    <div class="col-md-6">
                      <span style="margin-bottom:0px!important">{{ product.product_name }}</span>
                    </div>
                    <div class="col-md-4 text-right">
                      <p>{{ product.price_sale | number }} ₫</p>
                      <p>x{{ product.num }}</p>
                    </div>
                  </div>
                  <div class="line-break"></div>
                </div>
              </ng-container>
              <div class="row">
                <div class="col-md-6">
                  <span class="lb-text">Tổng cộng</span>
                </div>
                <div class="col-md-6 text-right">
                  <span class="lb-number">{{ totalPrice | number}} ₫</span>
                </div>
                <div class="col-md-6">
                  <span class="lb-text">Phí giao hàng (tạm tính)</span>
                </div>
                <div class="col-md-6 text-right">
                  <span class="lb-number">{{ transferCost == 0 ? "Miễn phí" : transferCost }}</span>
                </div>
              </div>
              <div style="font-size: 16px">
                <hr>
                <span class="lb-text">Thanh toán</span>
                <span class="lb-number" style="color:red">{{ (totalPrice + transferCost) | number }} ₫</span>
                <button (click)="postOrder();" type="button" [disabled]="formInfo.invalid" class="btn primary-btn btn-lg btn-block"
                  style="margin-top: 20px; margin-bottom: 20px;">Tiếp tục</button>
              </div>
              <div style="text-align: center">
                {{ transferMessage }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="product-not-found" *ngIf="!isLoading && cart == null">
  <div class="card" >
    <div class="card-body">
      <h5>Không tìm thấy sản phẩm trong giỏ hàng</h5>
    </div>
  </div>
</div>