<div class="custom-loading" *ngIf="isLoading">
  <div class="lds-facebook">
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>

<div id="order-detail" *ngIf="order != null">
  <div class="container">
    <div class="home-wrap">
      <h4>Chi tiết đơn hàng</h4>
      <div class="row">
        <div class="col-md-4">
          <h6>Địa chỉ người nhận</h6>
          <div class="card" style="min-height:140px">
            <div class="card-body">
              <p>{{ order.fullname }}</p>
              <p>Địa chỉ: {{ order.apartment_street_number }}, {{ location.commune_name }}, {{ location.district_name
                }}, {{ location.district_name }}</p>
              <p>Số điện thoại: {{ order.phone_number }}</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <h6>Hình thức giao hàng</h6>
          <div class="card" style="min-height:140px">
            <div class="card-body">
              <p>Giao hàng tiêu chuẩn, thời gian dự kiến giao hàng {{ data.order.create_at | date :'dd/MM/yyyy hh:mm'
                }}</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <h6>Hình thức thanh toán</h6>
          <div class="card" style="min-height:140px">
            <div class="card-body">
              <p>Thanh toán khi nhận hàng</p>
            </div>
          </div>
        </div>
      </div>
      <div class="list-order">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Sản phẩm</th>
              <th scope="col">Giá</th>
              <th scope="col">Số lượng</th>
              <th scope="col">Tạm tính</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let product of products">
              <tr>
                <td>
                  <div class="row">
                    <div class="col-md-2 pr-0">
                        <img [src]="'http://103.232.120.91:1337/' + product.image" width="74" height="57" />
                    </div>
                    <div class="col-md-10 pl-0">
                      <p>{{ product.product_name }}</p>
                      <button class="btn primary-btn" [routerLink]="['/evaluate/' + order.id +'/' + product.url_product]">Viết nhận xét</button>
                      <button class="btn primary-btn ml-2">Mua lại</button>
                    </div>
                  </div>                
                </td>
                <td>{{ product.price_sale | number }}</td>
                <td>{{ product.amount }}</td>
                <td>{{ product.price_sale * product.amount | number }}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="product-not-found" *ngIf="!isLoading && order == null">
  <div class="card">
    <div class="card-body">
      <h5>Đơn hàng này không phải của bạn, vui lòng kiểm tra lại</h5>
    </div>
  </div>
</div>