<div class="custom-loading" *ngIf="isLoading">
  <div class="lds-facebook">
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>

<div id="payment-page" *ngIf="cart != null">
  <div class="container">
    <div class="home-wrap">
      <div *ngIf="true">
        <div class="col-md-12 mt-3">
          <div class="card">
            <div class="card-body">
              <div class="line-step"></div>
              <ul class="step-process step-process-horizontal">
                <li class="step-one step-num">
                  <span class="number active">1</span>
                  <span class="text">Giỏ hàng</span>
                </li>
                <li class="step-two step-num">
                  <span class="number active">2</span>
                  <span class="text">Địa chỉ giao hàng</span>
                </li>
                <li class="step-three step-num">
                  <span class="number active">3</span>
                  <span class="text">Thanh toán</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row col-md-12 mt-4 mb-2">
          <div class="col-md-8">
            <div class="">
              <h5>1. Chọn hình thức giao hàng</h5>
              <div class="card">
                <div class="card-body">
                  <label class="contain">Giao hàng tiêu chuẩn
                    <input type="radio" name="methodDelivery" checked />
                    <span class="checkmark"></span>
                  </label>
                </div>
              </div>
            </div>
            <div class="">
              <h5>2. Chọn hình thức thanh toán</h5>
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-6">
                      <label class="contain">COD - Thanh toán khi nhận hàng
                        <input type="radio" name="payment" checked />
                        <span class="checkmark"></span>
                      </label>
                    </div>
                    <div class="col-md-6 text-right">
                      <span>Bạn sẽ trả tiền cho nhân viên giao hàng tại nhà</span>
                    </div>
                  </div>
                </div>
              </div>
              <!--
                <div class="card">
                  <div class="card-body">
                    <label class="contain">Thẻ ATM nội địa/Internet Banking (Miễn phí thanh toán)
                      <input type="radio" name="payment" />
                      <span class="checkmark"></span>
                    </label>
                    <div id="card-home">
                      <div class="card">
                        <div class="card-body">
                          <div class="row">
                          </div>
                        </div>
                      </div>
                    </div>										
                  </div>
                </div>-->
            </div>
          </div>
          <div class="col-md-4">
            <div class="card info-order">
              <div class="card-body">
                <div class="mb-3">
                  <h5 class="title-custom">Giao đến</h5>
                  <span><strong>{{ info.fullname }}</strong></span>
                  <p style="margin-bottom:0px!important;">{{ info.phone_number }}<span> - {{ info.email }}</span></p>
                  <span>{{ info.apartment_street_number }}, {{ location.commune_name }}, {{ location.district_name }},
                    {{
                    location.province_name }}</span>
                </div>
                <h5 class="title-custom">Thông tin đơn hàng</h5>
                <ng-container *ngFor="let product of cart">
                  <div class="cart-item">
                    <div class="row">
                      <div class="col-md-2">
                        <img height="42" width="32" class="vertical" [src]="'http://103.232.120.91:1337' + product.image"
                          alt="{{ product.product_name }}" />
                      </div>
                      <div class="col-md-6">
                        <span style="margin-bottom:0px!important">{{ product.product_name }}</span>
                      </div>
                      <div class="col-md-4 text-right">
                        <p>{{ product.price_sale | number }} ₫</p>
                        <p>x{{ product.num }}</p>
                      </div>
                    </div>
                    <div class="line-break"></div>
                  </div>
                </ng-container>
                <div class="row">
                  <div class="col-md-6">
                    <span class="lb-text">Tổng cộng</span>
                  </div>
                  <div class="col-md-6 text-right">
                    <span class="lb-number">{{ totalPrice | number}} ₫</span>
                  </div>
                  <div class="col-md-6">
                    <span class="lb-text">Phí giao hàng (tạm tính)</span>
                  </div>
                  <div class="col-md-6 text-right">
                    <span class="lb-number">{{ transferCost == 0 ? "Miễn phí" : transferCost }}</span>
                  </div>
                </div>
                <div style="font-size: 16px">
                  <hr>
                  <span class="lb-text">Thanh toán</span>
                  <span class="lb-number" style="color:red">{{ (totalPrice + transferCost) | number }} ₫</span>
                  <button type="button" (click)="payment()" class="btn primary-btn btn-lg btn-block" style="margin-top: 20px; margin-bottom: 20px;">Thanh
                    toán</button>
                </div>
                <div style="text-align: center">
                  {{ transferMessage }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="product-not-found" *ngIf="!isLoading && cart == null">
    <div class="card">
      <div class="card-body">
        <h5>Không tìm thấy sản phẩm trong giỏ hàng hoặc đã được thanh toán</h5>
      </div>
    </div>
  </div>