<div class="custom-loading" *ngIf="isLoading">
  <div class="lds-facebook">
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>

<div id="order-success" *ngIf="info != null">
  <div class="container">
    <div class="home-wrap">
      <div class="col-md-12 mt-3">
        <div class="card">
          <div class="card-body">
            <h5 class="title-custom">Đặt hàng thành công</h5>
            <div class="row">
              <div class="col-md-4">
                <img src="assets/images/page/order_success.png" />
              </div>
              <div class="col-md-8">
                <p class="title">Cảm ơn bạn đã mua hàng tại MWMart</p>
                <p>Mã đơn hàng của bạn:</p>
                <button class="btn primary-btn mb-2">{{ info.id }}</button>
                <p>Bạn có thể xem lại tại <a [routerLink]="['/look-up-order']"><strong>đơn hàng của tôi</strong></a></p>
                <!--<p>Thời gian dự kiến giao hàng: {{ (info.create_at + 3*24*60*60*1000) | date : 'dd/MM/yyyy' }}</p>-->
                <p><i class="fa fa-calendar-check-o" aria-hidden="true"></i> Thời gian dự kiến giao hàng: {{
                  info.create_at | date : 'dd/MM/yyyy' }}</p>
                <p>Thông tin chi tiết đơn hàng đã được gửi đến mail <strong>{{ info.email }}</strong>. Nếu không tim
                  thấy, vui lòng kiểm tra trong hộp thư Spam</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="product-not-found" *ngIf="!isLoading && info == null">
  <div class="card">
    <div class="card-body">
      <h5>Không tìm thấy đơn hàng bạn vừa thanh toán, vui lòng kiểm tra trong đơn hàng của tôi</h5>
    </div>
  </div>
</div>